
<h2>Catálogo de Produtos</h2>

<button (click)="aumentarPrecos()">Aumentar preços em 10%</button>
<button (click)="diminuirPrecos()">Diminuir preços em 10%</button>
<!--dois botões: o primeiro chama a função aumentarPrecos() ao ser clicado, e o segundo chama a função diminuirPrecos() ao ser clicado-->

<table border="1" style="margin-top: 16px; width: 100%;">
	<!--cria uma tabela com borda, margem superior de 16px e largura total.-->
	<thead>
		<tr>
			<th>Produto</th>
			<th>Preço</th>
			<th>Estoque</th>
			<th>Status</th>
		</tr>
	</thead>
	<!--cabeçalho da tabela com quatro colunas: Produto, Preço, Estoque e Status-->
	<tbody>
		<tr *ngFor="let produto of produtos">
		<!--corpo da tabela: para cada item do array produtos, cria uma linha (<tr>). O *ngFor é uma diretiva Angular para repetição-->
			<td>{{produto.nome}}</td>
			<!--exibe o nome do produto-->
			<td [ngStyle]="{ color: produto.preco > 2000 ? 'blue' : 'black' }">
				R$ {{produto.preco | number:'1.2-2'}}
			</td>
			<!--exibe o preço do produto: o texto fica azul se o preço for maior que 2000, senão fica preto e o 
			valor é formatado com duas casas decimais usando o pipe number:'1.2-2'-->
			<td>{{produto.estoque}}</td>
			<!--exibe a quantidade em estoque do produto-->
			<td [ngClass]="{
						'disponivel': produto.estoque > 0,
						'indisponivel': produto.estoque <= 0
					}">
				<span *ngIf="produto.estoque > 0">Disponível</span>
				<span *ngIf="produto.estoque <= 0">Indisponível</span>
			</td>
			<!-- aplica a classe CSS disponivel se o estoque for maior que 0, ou indisponivel se for 0 ou menos e
			mostrar "Disponível" se o estoque for maior que 0, senão mostra "Indisponível"-->
		</tr>
	</tbody>
</table>
